# ========================
# Project Data Folders
# ========================
input_images/
output_pdf_image/
output_pdf_ocr/

# ========================
# macOS System Files
# ========================
.DS_Store
.AppleDouble
.LSOverride
._*

# ========================
# VS Code
# ========================
.vscode/

# ========================
# Python Cache
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Temporary / Swap Files
# ========================
*.swp
*.swo
